include head.pug
+head("Ojo a las sanciones - Acerca de")

div.wrapper
    h1 Acerca de Ojo a las sanciones

    p Create a uniﬁed database of national data, but also other international data such as OFAC (USA) and IADB. By standardizing and making the information operable, it will be possible to use it to detect corruption networks by crossing information and using standards like BODS.

    h2 Contribuir al proyecto 

    h3 Organizaciones
    ul 
        li +Integridad 
        li Abrimos.info 
        li Accountability Lab 