include head.pug

+head("Ojo a las sanciones - Datos")

    div.wrapper
        div(style="text-align: center; margin: 4em auto; max-width: 600px;")
            h2(style="font-weight: normal") Descarga datos (próximamente)
            p Aún estamos preparando los datos en versión descargable, si te interesa acceder a ellos, por favor escríbenos un correo y te los enviaremos en cuanto los tengamos. Por favor, si pudieras aclararnos el formato en el que los necesitas y los campos que te interesan, nos ayudaría a armar un dataset más útil. 
            p
                a(href="mailto:ojosanciones@sociedad.info").primaryButtonLarge Enviar correo
+footer()