#banner-inversion {
  background: url("../../assets/img/banner_background.png");
}

.container {
  align-items: center;
}

.button-yellow {
  width: auto;
}

body {
  font-size: 14;
}

.navbar {
  background-color: #3498db;
}

#navcol-1 {
  display: flex;
  justify-content: space-between;
}

